<head>
  <% if(user) { %>
    <form action="/logout" method="POST">
      <%= user.id %>
      <input type="submit" value="logout">
    </form>
  <% } else { %>
    <a href="/register">Register</a>
    <a href="/login">Login</a>
  <% } %>
  <hr>
</head>