<!DOCTYPE html>
<html>
<head>
  <title>Tiny App Login</title>
</head>
<body>
  <% include ./partials/_header.ejs %>
  <h1 style="text-align: center;">Tiny App</h1>
  <h2 style="text-align: center;"><a href="/register">Resgister</a></h2>
  <h2 style="text-align: center;"><a href="/login">Login</a></h2>
  <h2 style="text-align: center;"><a href="/urls">My URLs</a></h2>
</body>
</html>