<!DOCTYPE html>
<html>
<head>
  <title>Tiny App Login</title>
</head>
<body>
  <% include ./partials/_header.ejs %>
  <form action="/login" method="POST">
    <h1>Login</h1>
    Email: <input type="email" name="email">
    Password: <input type="password" name="password">
    <input type="submit" value="login">
  </form>
  <br>
  <p>Must be logged in to shorten URL</p>
</body>
</html>
