<!DOCTYPE html>
<html>
<head>
  <title>Tiny App Register</title>
</head>
<body>
  <% include ./partials/_header.ejs %>
  <h1>Register</h1>
  <form method="POST" action="/register?_method=PUT">
    Email: <input type="email" name="email">
    Password: <input type="password" name="password">
    <input type="submit" value="Register">
  </form>
</body>
</html>