<!DOCTYPE html>
<html>
<head>
  <title>Tiny App Register</title>
</head>
<body>
  <% include ./partials/_header.ejs %>
  <form method="POST" action="/register">
    Email: <input type="email" name="email" id="email">
    Password: <input type="password" name="password" id="password">
    <input type="submit" value="Register">
  </form>
</body>
</html>