<!DOCTYPE html>
<html>
<head>
  <title>Tiny App Register</title>
  <link rel="stylesheet" type="text/css" href="../form_align.css">
</head>
<body>
  <% include ./partials/_header.ejs %>
  <h1>Register</h1>
  <form method="POST" action="/register">
    Email: <input type="email" name="email">
    Password: <input type="password" name="password">
    <input type="submit" value="Register">
  </form>
</body>
</html>