<!DOCTYPE html>
<html lang='en'>
<head>
  <title>TinyApp</title>
</head>
<body>
  <% include ./partials/_header %>
  <ul>
    <% for(let url in urls){ %>
      <li>
        <% let deleteAction = `/urls/${url}/delete` %>
        <% let editPath = `/urls/${url}` %>
        <form method="POST" action= <%= deleteAction %> >
          <%= `Long URL: ${urls[url].longURL} => Short URL: ${url}` %>
          <a href= <%= editPath %> > edit</a>
          <input type="submit" value="Delete URL">
        </form>
      </li>
      <br>
  <% } %>
  </ul>
  <p><a href='/urls/new'>Shorten New URL</a></p>
</body>
</html>