<!DOCTYPE html>
<html lang='en'>
<head>
  <title>TinyApp</title>
</head>
<body>
  <% include ./partials/_header.ejs %>
  <% if(longURL) { %>
    <h1>
      Short URL: <%= shortURL %>
    </h1>
    <% let updateAction = `/urls/${shortURL}/update` %>
    <form method="POST" action= <%= updateAction %> >
      <input id="longURL" type="text" name="longURL" value= <%= longURL %> style="width: 300px">
      <input type="submit" value="Update">
    </form>
  <% } else if(!exists) {%>
    <h2>URL for givin ID does not exist </h2>
  <% } else if(!user) {%>
    <h2>Login to view your URL</h2>
  <% } else { %>
    <h2>You do not own the URL with givin ID</h2>
  <% } %>
</body>
</html>