<!DOCTYPE html>
<html lang='en'>
<head>
  <title>TinyApp</title>
</head>
<body>
  <% include ./partials/_header.ejs %>
  <h1>
    Short URL: <%= shortURL %> Long URL: <%= longURL %>
  </h1>
</body>
</html>